.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;
  padding: 20px;
}
.line {
  border: 2px solid #f4f4f4;
}
.deleteButton {
  float: right;
  padding: 11px 30px;
  border: none;
  background-color: #fc0000e5;
  color: white;
  margin-top: -34px;
  margin-right: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
.donebutton {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: #f7ca18;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}
.model {
}
